@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bricolage+Grotesque:opsz@10..48&display=swap');

html, body{
  margin: 0px;
  padding: 0px;
}

#header {
  /* background: url(assets/leaves.webp); */
  background-color: #cfe6d5;
  font-family: 'Bricolage Grotesque', sans-serif;

}

body {
  background: url("https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  /* background: url(./assets/leaves.webp); */
  font-family: 'Bricolage Grotesque', sans-serif;
}

#content {
  color: #fff;
}

#content h1 {
  font-size: 4rem;
  font-family: 'Barriecito', cursive;
}

#content img {
  width: 17rem;
  max-height: 21.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

#content .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

nav {
  width: 100vw;
  box-shadow: 0px 1px 10px #999;
}

nav img {
  width: 6.25rem;
}